## Final Project Proposal
For security reasons, the IT department of XYZ Company is responsible for generating and reviewing user information from of over 30 different standalone applications. Managers need to periodically review user access to ensure that only required personnel have active accounts at any given time. The applications have varied methods of generating a user list, and some are incapable of providing any list at all. For these applications, the only way to get the data would be to use a screenshot copied into a word or pdf file, or to manually type the information into a spreadsheet. For applications with up to 50 users, this can be quite tedious. 

My program will pull the user data from both a .pdf file and an access database, to represent the different output formats. The data will then be converted or parsed, into a common format (.csv). This will allow for automatic forwarding of the data to managers for reviews. I will create the 2 source files, modeled after a typical application user list.
### Pull data from a pdf file and convert into a dataframe

In [56]:
from tabula import wrapper
pdfdata = wrapper.read_pdf('userlist.pdf')
pdfdata.head()

   LastName FirstName Username     AccessType
0     Locke       Jen   Jlocke           User
1       Doe      Jane   Jdoe12  Administrator
2     Smith       Joe   Jsmith           User
3  Hathaway       Ken   khatha     Technician
4     Cronk      Bill   bcronk           User

### Convert the dataframe into a .csv file. Present data from the .csv file.

In [57]:
#Convert the dataframe to a .csv and read in the data
pdfdata.to_csv('pdfUserList.csv')
pdffile = pd.read_csv('pdfUserList.csv')

#Drop the added index (column 1) and print data from the .csv file
pdffile.drop(pdffile.columns[0], axis=1, inplace=True)
print('Users By Access Type', '\n', pdffile.sort_values('AccessType').head())

Users By Access Type
    LastName FirstName Username     AccessType
1       Doe      Jane   Jdoe12  Administrator
8    Clarke    Andrea  aclarke  Administrator
3  Hathaway       Ken   khatha     Technician
7   Winston     Jamie   jwinst     Technician
9  Jekowski    Cheryl   cjekow     Technician

### Pull data from a Microsoft Access database and convert to a dataframe

In [58]:
#import modules
import pandas as pd
import pyodbc

#connect to the database
connStr = pyodbc.connect(
    r"DRIVER={Microsoft Access Driver (*.mdb, *.accdb)};"
    r"DBQ=C:\Users\Becky\Final Project\UserListTestDB.accdb;"
    )

#select all from UserList table, convert to a dataframe
query = "SELECT * FROM UserList"
msadata = pd.read_sql(query, connStr)
connStr.close()
msadata.head()

,Username,FirstName,LastName,FullName,AccessLevel
0,adamsp,<div>Pamela</div>,<div>Adams</div>,<div>Pamela Adams</div>,Normal
1,allenc6,<div>Corinne</div>,<div>Allen</div>,<div>Corinne Allen</div>,Normal
2,andersk,<div>Kristen</div>,<div>Anderson</div>,<div>Kristen Anderson</div>,Normal
3,bells14,<div>Sabrina</div>,<div>Bell</div>,<div>Sabrina Bell</div>,Advanced
4,brownm,<div>Mike</div>,<div>Brown</div>,<div>Mike Brown</div>,Advanced

### Convert the dataframe to a .csv file. Present data from the .csv file.

In [59]:
#Convert the dataframe to a .csv and read in the data
msadata.to_csv('MSAUserList.csv')
msafile = pd.read_csv('MSAUserList.csv')

#Drop the added index (column 1) and print data from the .csv file
msafile.drop(msafile.columns[0], axis=1, inplace=True)
print('Users By Name', '\n', msafile.sort_values('AccessLevel').head())

Users By Name
    Username             FirstName           LastName  \
13  morganj  <div>Johnathon</div>  <div>Morgan</div>
12  millerj   <div>Jennifer</div>  <div>Miller</div>
18  taylorj     <div>Justin</div>  <div>Taylor</div>
3   bells14    <div>Sabrina</div>    <div>Bell</div>
4    brownm       <div>Mike</div>   <div>Brown</div>

                       FullName    AccessLevel
13  <div>Johnathon Morgan</div>  Administrator
12   <div>Jennifer Miller</div>  Administrator
18     <div>Justin Taylor</div>       Advanced
3       <div>Sabrina Bell</div>       Advanced
4         <div>Mike Brown</div>       Advanced

### Conclusion
To complete this project, I had to learn how to pull data from .pdf files as well as Microsoft Access databases. Neither of these concepts had been covered in class. This took some research and plenty of trial and error. One of the major challenges I encountered was reading the Microsoft Access Database via Python. At first I was encountering "database not found" and "default driver not specified errors". After some research, I found that you must ensure that your Python  Interpreter (Jupyter/Anaconda) must be running the same bit version as your Office program, in order for the pyodbc module to work. They both need to be either 32-bit or 64-bit.

On my system I found that my Anaconda installation was 64-bit and my Office installation was 32-bit. So I had to uninstall my entire Microsoft Office suite (and every other Microsoft Office product), and reinstall the 64-bit version of Office. I then found that I also needed to install the "Microsoft Access database engine 2010" separately. This is available as a standalone download from Microsoft.

Tabula is also something you must install via pip, in order to use it for processing .pdf files.

This was definitely a learning experience! In the end, I was able to convert both files into something useful, that will help me to automate the process of user account review even further. This is something that has real value in the workplace for user security. There are so many different software packages out there. My program will save a lot of time in converting the data into a common format. From what we covered in class, I can also add text files and excel files to this program, which will cover just about every format that I have encountered so far!